/* This is all the code that was given to me by the coaches as a starting point for the assignment */
body{
    padding-bottom: 50px;
}

.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}
.CarouselSlider{
    height: 400px;
    overflow: hidden;
    position: relative;
}
.CarouselSlider .SliderItem{
    height: 100%;
    width: 100%;
    display: none;
    object-fit: cover;
    position: absolute;
    transition: transform 400ms;

}
.CarouselSlider .SliderItem.Active,
.CarouselSlider .SliderItem.PreviousItem,
.CarouselSlider .SliderItem.NextItem{
    display: block;
}

.SliderControlNext,
.SliderControlPrevious{
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 300ms;
}
.SliderControlPrevious{
    left:20px;
}
.SliderControlPrevious:hover{
    opacity: 1;
}
.SliderControlNext{
    right: 20px;
}
.SliderButton{
    height: 35px;
    width: 35px;
}

.SliderItem.PreviousItem {
    transform: translateX(-100%);
}

.SliderItem.NextItem {
    transform: translateX(100%);
}

.SliderItem.PreviousItem,
.SliderItem.Active.SlideNext {
    transform: translateX(-100%);
}

.SliderItem.Active.SlidePrevious,
.SliderItem.NextItem {
    transform: translateX(100%);
}

.SliderItem.PreviousItem.SlideEnd,
.SliderItem.NextItem.SlideEnd {
    transform: translateX(0);
}